<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<welcome-file-list>
		<welcome-file>noauth.html</welcome-file>
	</welcome-file-list>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.cloudlbs.web.noauth.server.LoginServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/noauth/login/*</url-pattern>
    </servlet-mapping>

</web-app>
